# Copyright (c) 2017 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.
#
# coverage configuration - used by https://coveralls.io/ integration
#
#
[run]
source=tank
omit=
    # We can't unit test our uis, so we're not going to put them inside the coverage
    *tank/authentication/ui/*
    *tank/platform/qt/*
    *tank/platform/qt5/*

[report]
exclude_lines =
    raise NotImplementedError

