*.py[co]

# apps, engines, frameworks
# ignore everything except the readme file
apps/*
!apps/README
engines/*
!engines/README
frameworks/*
!frameworks/README

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
coverage.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# os files
.DS_Store
