# Copyright (c) 2019 Shotgun Software Inc.
#
# CONFIDENTIAL AND PROPRIETARY
#
# This work is provided "AS IS" and subject to the Shotgun Pipeline Toolkit
# Source Code License included in this distribution package. See LICENSE.
# By accessing, using, copying or modifying this work you indicate your
# agreement to the Shotgun Pipeline Toolkit Source Code License. All rights
# not expressly granted therein are reserved by Shotgun Software Inc.

# This file enumerates the various third party libraries Toolkit uses for unit testing.
# They are committed inside this repo. See README.md in this folder for details.

# IMPORTANT: These requirements should be in sync with tk-toolchain install_requires

# Required for the --with-coverage option
coverage==7.1.0

# Use to temporarily replace part of the API or mock return vaues.
mock==2.0.0

# The Shotgun Desktop does not include setuptools, which comes with pip. Make
# sure they are installed in case the tests are run with this python.
setuptools==65.5.1
