unittest2==1.1.0
mock==2.0.0
# This dependency is missing from the mock manifest.
ordereddict==1.1
# The Shotgun Desktop does not include setuptools, which comes with pip. Make
# sure they are installed in case the tests are run with this python.
setuptools==36.0.1