#
# This file aims to reflect the list of python packages installed in the
# python/tank_vendor folder.
#
# Not designed to be run in a PIP install command but rather, it's goal is to
# provide a list of package+version readable for code scan bot so we can collect
# security reports.
#

distro==1.4.0
ordereddict==1.1
pyyaml==5.4.1
ruamel_yaml==0.10.10
six==1.13.0
